Flask==1.1.2
facenet_pytorch
pyexiv2
sklearn
numpy

## From yolov5
# base
opencv-python>=4.1.2
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
# plotting
seaborn>=0.11.0
pandas
# extras
Cython

# low light
tensorflow-cpu==2.5.0rc2
keras==2.5.0rc0
