<html>
  <head>
    <style>
      body {font-family: Arial, Helvetica, sans-serif;}
    </style>
    <title>Image Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <body style="background-color:#202020;">
    <h1 style="color:white">Image Upload</h1>
    <form action="{{ url_for('upload_files') }}" class="dropzone"></form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
    <form action="{{ url_for('zip_and_download') }}" method="get">
      <input type="submit" value="Download photos">
    </form>
    <form action="{{ url_for('gallery') }}">
      <input type="submit" value="Gallery">
    </form>
    <form action="{{ url_for('tag_photos') }}">
      <input type="submit" value="Tag photos">
    </form>
  </body>
</html>
